In [16]:
import pandas as pd
import numpy as np

names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 
        'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 
        'capital-loss', 'hours-per-week', 'native-country', 'salary']
data = pd.read_csv('adult.data', header=None, names=names)

In [17]:
d={' Married-civ-spouse': True, ' Married-spouse-absent': True, ' Married-AF-spouse': True}

In [18]:
data['is_married'] = False
data['is_married'] = data['is_married'].replace({'marital-status': d})

In [19]:
data['is_married']

0        False
1        False
2        False
3        False
4        False
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Name: is_married, Length: 32561, dtype: bool

In [25]:
df = data.pivot_table(['hours-per-week'], ['native-country', 'salary'], aggfunc='mean')

In [37]:
df.loc[[' Japan']]

                       hours-per-week
native-country salary
 Japan          <=50K       41.000000
                >50K        47.958333